.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.generator{
    display: flex;
    justify-content: center;
    gap: 20px;
}

input{
    width: 60vh;
    height: 30px;
    padding: 5px;
}

button{
    border-radius: 13px;
    background-color: #242424;
    color: white;
    border: none;
    cursor: pointer;
}